altgraph @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/altgraph-0.17.2-py2.py3-none-any.whl
anndata==0.8.0
contourpy==1.0.6
cycler==0.11.0
fonttools==4.38.0
future @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/future-0.18.2-py3-none-any.whl
h5py==3.7.0
joblib==1.2.0
kiwisolver==1.4.4
llvmlite==0.39.1
macholib @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/macholib-1.15.2-py2.py3-none-any.whl
matplotlib==3.6.2
natsort==8.2.0
networkx==2.8.8
numba==0.56.4
numpy==1.23.5
packaging==22.0
pandas==1.5.2
patsy==0.5.3
Pillow==9.3.0
pynndescent==0.5.8
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.6
scanpy==1.9.1
scikit-learn==1.2.0
scipy==1.9.3
seaborn==0.12.1
session-info==1.0.0
six @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/six-1.15.0-py2.py3-none-any.whl
statsmodels==0.13.5
stdlib-list==0.8.0
threadpoolctl==3.1.0
tqdm==4.64.1
umap-learn==0.5.3
